<h2>All day</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Successful</th>
      <th>Report</th>
    </tr>
  </thead>
  <tbody>
      <% @days.each do |day| %>
        <tr>
          <td><%= day.date %></td>
          <td><%= day.successfull %></td>
          <td><%= day.report %></td>
          <td><%= link_to "Show", day %></td>
          <td><%= link_to "Edit", edit_day_path(day) %></td>
          <td><%= link_to "Delete", day, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <%end%>
  </tbody>
</table>
<br>
<%= link_to "New day", new_day_path %>