<div class="container">
  <h2>Day</h2>
	<%= @day.date.try(:strftime, '%B %d, %Y') %>
	<br>
	<p>Success of the day</p>
	<%= @day.successful %>
	<br>
	<p>Report on day</p>
	<%= @day.report %>
	<br>
	<h2>Tasks on day</h2>
	<%= render "tasks/task" %>

	<div class="taskslist">
		<p>Add tasks on day</p>
		<input type="text" name="task" id="task"/>
		<br>
		<button class="addtask">Add task</button>
	</div>
	<%= link_to  "Back", days_path %>
</div>