<div class="container">
  <h2>Day</h2>
	<%= @day.date.try(:strftime, '%B %d, %Y') %>
	<br>
	<p>Success of the day</p>
	<%= @day.successful %>
	<br>
	<p>Report on day</p>
	<%= @day.report %>
	<br>
	<h2>Tasks on day</h2>
	<div class="task-container">
		<% @day.tasks.each do |task| %>
		<p><b><%= task.list %></b></p>
		<u><%= task.created_at.try(:strftime, '%B %d, %Y') %></u>
		<%= link_to "delete task", day_task_path(task.day, task), remote: true, method: :delete %>
		<p></p>
		<%end%>
		</div>
		<p>Add tasks on day</p>
		<input type="text" name="task" id="task"/>
		<br>
		<div class="sendtask"><button>Add task</button></div>
	</div>
	
	<%= link_to  "Back", days_path %>
</div>